@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.bang {
    font-family: 'Roboto', sans-serif;
}

.bang, tr, th, td {
    border-spacing: 0;
}

.bang thead th{
    background-color: rgb(45, 152, 117);
    color: white;
}

.bang th, .bang td {
    text-align: left;
    padding: 10px 18px;
}

.bang td {
    border-bottom: 1px solid #ddd;
}